#mapid {
    height: 580px;
    border: solid 1px;
}

.leaflet-marker-icon {
    display: none;
}

.leaflet-marker-shadow {
    display: none;
}

.leaflet-marker-icon-poi {
    display: block !important;
}