html, body {
    height: 100% !important;
    margin: 0 !important;
}

#map {
    height: calc(100% - 260px);
}

.leaflet-div-icon {
    background: none;
    border: 0;
    color: #FF6F03;
    text-shadow: 0 0 4px #000;
}


.leaflet-marker-icon-poi {
    display: block !important;
}

.modal-trigger, #levelControl {
    margin-top: 10px;
}

#levelControl .btn {
    margin-right: 3px
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg path {
    transition: fill 300ms;
}

