html, body {
    height: 100% !important;
    margin: 0 !important;
}

#map {
    height: calc(100% - 260px);
}

#levelControl {
    margin-top: 10px;
}

#descriptionArea {
    font-size: 120%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg path {
    transition: fill 300ms;
}

path.leaflet-interactive:hover {
    filter: brightness(150%);
}

.leaflet-marker-pane img {
    filter: drop-shadow(0 0 3px #222);
}
