html, body {
    height: 100% !important;
    margin: 0 !important;
}

#map {
    height: calc(100% - 260px);
}

.modal-trigger, #levelControl {
    margin-top: 10px;
}

#levelControl .btn {
    margin-right: 3px;
}

#descriptionArea {
    font-size: 120%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg path {
    transition: fill 300ms;
}

.leaflet-interactive:hover {
    filter: brightness(150%);
}

.leaflet-interactive[fill="none"]:hover {
    filter: brightness(150%);
}

.leaflet-div-icon {
    background: none;
    border: 0;
    color: #4DEBF0;
    text-shadow: 0 0 4px #000;
}

.leaflet-div-icon .material-icons {
    font-size: 36px;
}

.leaflet-marker-icon-poi {
    display: block !important;
}
