html, body{
    height: 100% !important;
    margin: 0 !important;
}
#map {
    height: calc(100% - 180px);
}

.leaflet-marker-icon {
    display: none;
}

.leaflet-marker-shadow {
    display: none;
}

.leaflet-marker-icon-poi {
    display: block !important;
}

.modal-trigger{
    width: calc(100% - 20px);
    margin: 10px;
}
