@import "bootstrap_imports";
@import "map";

$legendWidth: 150px;

nav {
  z-index: 99;
}

#levelControlWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#legendWrapper {
  position: absolute;
  bottom: 140px;
  left: 0;
  z-index: 21;
  width: $legendWidth;
}

#centeringButton {
  position: absolute;
  top: 100px;
  right: 16px;
  z-index: 25;
}

#descriptionAreaWrapper {
  position: absolute;
  bottom: 140px;
  left: calc(#{$legendWidth} + 10px);
  right: 0;
  z-index: 20;
}

#toastWrapper {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 50;
  @include media-breakpoint-down(md) {
      top: 200px;
  }
}

#descriptionArea {
  font-size: 120%;
}

#searchWrapper{
  width: 1168px;
}

#buildingSearchWrapper, #indoorSearchWrapper {
  width: 500px;
}

.hidden{
  visibility: hidden;
  width: 0 !important;
  height: 0;
  padding: 0;
  margin: 0 !important;
}

.room-label {
  margin-left: 0;

  color: #000000;
  background: none;

  border: none;
  box-shadow: none;
  text-shadow: 0 0 10px #000;

  &:before{
    content: none;
  }
}

.settings .modal-body .collection:not(:last-child) {
  margin-bottom: 1rem;
}

.more-less {
  float: right;
  color: #333;
}

//remove search X from input

/* clears the 'X' from Internet Explorer */
.hide-clear-icon::-ms-clear {  display: none; width : 0; height: 0; }
.hide-clear-icon::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.hide-clear-icon::-webkit-search-decoration,
.hide-clear-icon::-webkit-search-cancel-button,
.hide-clear-icon::-webkit-search-results-button,
.hide-clear-icon::-webkit-search-results-decoration { display: none; }

