@import "bootstrap_imports";
@import "map";

$legendWidth: 150px;

nav {
  z-index: 99;
}

#levelControlWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#legendWrapper {
  position: absolute;
  bottom: 140px;
  left: 0;
  z-index: 21;
  width: $legendWidth;
}

#centeringButton {
  margin-top: 25px;
  margin-right: 20px;
  z-index: 25;
}

.leaflet-left .leaflet-control-zoom {
  margin-left: 20px;
}
.leaflet-top .leaflet-control-zoom {
  margin-top: 25px;
}

#descriptionAreaWrapper {
  position: absolute;
  bottom: 140px;
  left: calc(#{$legendWidth} + 10px);
  right: 0;
  z-index: 20;
}

#toastWrapper {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 50;
  @include media-breakpoint-down(md) {
      top: 200px;
  }
}

#descriptionArea {
  font-size: 120%;
}

#changeUserProfileBtnLabel{
  white-space: nowrap;
}

#map{
  top: 56px;
}

@media screen and (max-width: 1469px){
  #indoorSearchWrapper{
    margin-top: 5px !important;
  }
}


@media screen and (max-width: 1469px) and (min-width: 992px){
  #map{
    top: 92px !important;
  }

  #centeringButton{
    top: 110px !important;
  }
}

#buildingSearchWrapper, #indoorSearchWrapper {
  width: 500px;
}

.hidden{
  visibility: hidden;
  width: 0 !important;
  height: 0;
  padding: 0;
  margin: 0 !important;
}

.room-label {
  margin-left: 0;

  color: #000000;
  background: none;

  border: none;
  box-shadow: none;

  &:before{
    content: none;
  }
}

.leaflet-marker-pane img.leaflet-marker-icon {
  box-shadow: 2px 2px 8px 0 #00000069;
  border-radius: 8px;
}

.settings .modal-body .collection:not(:last-child) {
  margin-bottom: 1rem;
}

.more-less {
  float: right;
  color: #333;
}

//remove search X from input

/* clears the 'X' from Internet Explorer */
.hide-clear-icon::-ms-clear {  display: none; width : 0; height: 0; }
.hide-clear-icon::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.hide-clear-icon::-webkit-search-decoration,
.hide-clear-icon::-webkit-search-cancel-button,
.hide-clear-icon::-webkit-search-results-button,
.hide-clear-icon::-webkit-search-results-decoration { display: none; }

