@import "bootstrap_imports";
@import "map";

$legendWidth: 150px;

nav {
  z-index: 99;
}

#levelControlWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#legendWrapper {
  position: absolute;
  bottom: 140px;
  left: 0;
  z-index: 21;
  width: $legendWidth;
}

#centeringButton {
  position: absolute;
  top: 100px;
  right: 16px;
  z-index: 25;
}

#descriptionAreaWrapper {
  position: absolute;
  bottom: 140px;
  left: calc(#{$legendWidth} + 10px);
  right: 0;
  z-index: 20;
}

#toastWrapper {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 50;
  @include media-breakpoint-down(md) {
      top: 200px;
  }
}

#descriptionArea {
  font-size: 120%;
}

#buildingSearchWrapper {
  width: 800px;
  max-width: 75vw;
}

.room-label {
  margin-left: 0;

  color: #f0f8ff;
  background: none;

  border: none;
  box-shadow: none;
  text-shadow: 0 0 10px #000;

  &:before{
    content: none;
  }
}

.more-less {
  float: right;
  color: #333;
}
