@import "bootstrap_imports";
@import "map";

nav {
  z-index: 99;
}

#levelControlWrapper {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#descriptionAreaWrapper {
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  z-index: 20;
}

#toastWrapper {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 50;
  @include media-breakpoint-down(md) {
      top: 200px;
  }
}

#descriptionArea {
  font-size: 120%;
}

#buildingSearchWrapper {
  width: 800px;
  max-width: 75vw;
}
